// Overrides user _variables-components
@import '../../bootstrap-extended/include';

// Google Color Palette defined: http://www.google.com/design/spec/style/color.html

$white-color: (
  'base': #ffffff
);
$black-color: (
  'base': #000000
);
$dark-color: (
  'base': theme-color('dark'),
  'darken-1': #343434,
  'darken-2': #1e1e1e,
  'darken-3': #626262
);
$light-color: (
  'base': theme-color('light')
);

$primary-color: (
  'lighten-5': lighten(#dc3545, 25%),
  'lighten-4': lighten(#dc3545, 20%),
  'lighten-3': lighten(#dc3545, 15%),
  'lighten-2': lighten(#dc3545, 10%),
  'lighten-1': lighten(#dc3545, 5%),
  'base': #dc3545,
  'darken-1': darken(#dc3545, 5%),
  'darken-2': darken(#dc3545, 10%),
  'darken-3': darken(#dc3545, 15%),
  'darken-4': darken(#dc3545, 20%),
  'accent-1': rgba(220, 53, 69, 0.1),
  'accent-2': rgba(220, 53, 69, 0.2),
  'accent-3': rgba(220, 53, 69, 0.3),
  'accent-4': rgba(220, 53, 69, 0.4)
);
$secondary-color: (
  'lighten-5': lighten(#000000, 25%),
  'lighten-4': lighten(#000000, 20%),
  'lighten-3': lighten(#000000, 15%),
  'lighten-2': lighten(#000000, 10%),
  'lighten-1': lighten(#000000, 5%),
  'base': #000000,
  'darken-1': darken(#000000, 5%),
  'darken-2': darken(#000000, 10%),
  'darken-3': darken(#000000, 15%),
  'darken-4': darken(#000000, 20%)
);
$success-color: (
  'lighten-5': lighten(#28c76f, 25%),
  'lighten-4': lighten(#28c76f, 20%),
  'lighten-3': lighten(#28c76f, 15%),
  'lighten-2': lighten(#28c76f, 10%),
  'lighten-1': lighten(#28c76f, 5%),
  'base': #28c76f,
  'darken-1': darken(#28c76f, 5%),
  'darken-2': darken(#28c76f, 10%),
  'darken-3': darken(#28c76f, 15%),
  'darken-4': darken(#28c76f, 20%),
  'accent-1': rgba(40, 199, 111, 0.1),
  'accent-2': rgba(40, 199, 111, 0.2),
  'accent-3': rgba(40, 199, 111, 0.3),
  'accent-4': rgba(40, 199, 111, 0.4)
);
$info-color: (
  'lighten-5': lighten(#00cfe8, 25%),
  'lighten-4': lighten(#00cfe8, 20%),
  'lighten-3': lighten(#00cfe8, 15%),
  'lighten-2': lighten(#00cfe8, 10%),
  'lighten-1': lighten(#00cfe8, 5%),
  'base': #00cfe8,
  'darken-1': darken(#00cfe8, 5%),
  'darken-2': darken(#00cfe8, 10%),
  'darken-3': darken(#00cfe8, 15%),
  'darken-4': darken(#00cfe8, 20%),
  'accent-1': rgba(0, 207, 232, 0.1),
  'accent-2': rgba(0, 207, 232, 0.2),
  'accent-3': rgba(0, 207, 232, 0.3),
  'accent-4': rgba(0, 207, 232, 0.4)
);
$warning-color: (
  'lighten-5': lighten(#ff9f43, 25%),
  'lighten-4': lighten(#ff9f43, 20%),
  'lighten-3': lighten(#ff9f43, 15%),
  'lighten-2': lighten(#ff9f43, 10%),
  'lighten-1': lighten(#ff9f43, 5%),
  'base': #ff9f43,
  'darken-1': darken(#ff9f43, 5%),
  'darken-2': darken(#ff9f43, 10%),
  'darken-3': darken(#ff9f43, 15%),
  'darken-4': darken(#ff9f43, 20%),
  'accent-1': rgba(255, 159, 67, 0.1),
  'accent-2': rgba(255, 159, 67, 0.2),
  'accent-3': rgba(255, 159, 67, 0.3),
  'accent-4': rgba(255, 159, 67, 0.4)
);
$danger-color: (
  'lighten-5': lighten(#dc3545, 25%),
  'lighten-4': lighten(#dc3545, 20%),
  'lighten-3': lighten(#dc3545, 15%),
  'lighten-2': lighten(#dc3545, 10%),
  'lighten-1': lighten(#dc3545, 5%),
  'base': #dc3545,
  'darken-1': darken(#dc3545, 5%),
  'darken-2': darken(#dc3545, 10%),
  'darken-3': darken(#dc3545, 15%),
  'darken-4': darken(#dc3545, 20%),
  'accent-1': rgba(220, 53, 69, 0.1),
  'accent-2': rgba(220, 53, 69, 0.2),
  'accent-3': rgba(220, 53, 69, 0.3),
  'accent-4': rgba(220, 53, 69, 0.4)
);

$colors: (
  'white': $white-color,
  'black': $black-color,
  'dark': $dark-color,
  'light': $light-color,
  'primary': $primary-color,
  'secondary': $secondary-color,
  'success': $success-color,
  'info': $info-color,
  'warning': $warning-color,
  'danger': $danger-color
);
